<header class="site-header">
	<div class="header-inner">
	<div class="branding">
		{% if site.theme_settings.gravatar %}
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="https://secure.gravatar.com/avatar/{{ site.theme_settings.gravatar }}?s=100" alt="Kamil Lygas"/>
		</a>
		{% elsif site.theme_settings.avatar %}
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt="Kamil Lygas"/>
		</a>
		{% endif %}
		<div class="site-title">
			<a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
		</div>
	</div>
	<nav class="site-nav" aria-label="Main navigation">
		<ul>
			<li><a class="page-link" href="{{ "/" | relative_url }}">Home</a></li>
			<li><a class="page-link" href="{{ "/topics/" | relative_url }}">Topics</a></li>
			<li><a class="page-link" href="{{ "/#latest-articles" | relative_url }}">Blog</a></li>
			<li><a class="page-link" href="{{ "/about/" | relative_url }}">About</a></li>
			<li><a class="page-link" href="{{ "/contact/" | relative_url }}">Contact</a></li>
			<li class="nav-divider" aria-hidden="true"></li>
			{% if site.theme_settings.rss %}
			<li class="social-link"><a href="{{ "/feed.xml" | relative_url }}" title="{{ site.theme_settings.str_rss_follow }}" aria-label="{{ site.theme_settings.str_rss_follow }}"><i class="fas fa-fw fa-rss"></i></a></li>
			{% endif %}
			{% if site.theme_settings.github %}
			<li class="social-link"><a href="https://github.com/{{ site.theme_settings.github }}" title="{{ site.theme_settings.str_follow_on }} GitHub" aria-label="{{ site.theme_settings.str_follow_on }} GitHub"><i class="fab fa-fw fa-github"></i></a></li>
			{% endif %}
			{% if site.theme_settings.linkedin %}
			<li class="social-link"><a href="{{ site.theme_settings.linkedin }}" title="{{ site.theme_settings.str_follow_on }} LinkedIn" aria-label="{{ site.theme_settings.str_follow_on }} LinkedIn"><i class="fab fa-fw fa-linkedin"></i></a></li>
			{% endif %}

            <!-- Search bar -->
            {% if site.theme_settings.search %}
            <li>
            <form action="{{ site.baseurl }}/search.html" method="get">
                <input type="text" id="search-box" name="query" placeholder="Search" class="">
                <button type="submit" class="">
                    <i class="fa fa-fw fa-search"></i>
                </button>
            </form>
            </li>
            {% endif %}
		</ul>
	</nav>
	</div>
</header>
