<header class="site-header">
	<div class="branding">
		{% if site.theme_settings.gravatar %}
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="https://secure.gravatar.com/avatar/{{ site.theme_settings.gravatar }}?s=100" alt="Kamil Lygas"/>
		</a>
		{% elsif site.theme_settings.avatar %}
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt="Kamil Lygas"/>
		</a>
		{% endif %}
		<div class="site-title">
			<a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
		</div>
	</div>
	<nav class="site-nav" aria-label="Main navigation">
		<ul>
			<li><a class="page-link" href="{{ "/" | relative_url }}">Home</a></li>
			<li><a class="page-link" href="{{ "/topics/" | relative_url }}">Topics</a></li>
			<li><a class="page-link" href="{{ "/#latest-articles" | relative_url }}">Blog</a></li>
			<li><a class="page-link" href="{{ "/about/" | relative_url }}">About</a></li>
			<li><a class="page-link" href="{{ "/contact/" | relative_url }}">Contact</a></li>
			<!-- Social icons from Font Awesome, if enabled  -->
			{% include icons.html %}

            <!-- Search bar -->
            {% if site.theme_settings.search %}
            <li>
            <form action="{{ site.baseurl }}/search.html" method="get">
                <input type="text" id="search-box" name="query" placeholder="Search" class="">
                <button type="submit" class="">
                    <i class="fa fa-fw fa-search"></i>
                </button>
            </form>
            </li>
            {% endif %}
		</ul>
	</nav>

</header>
